User svusr041
Group resgrp041
Listen 9015
<VirtualHost *>
    ServerName campusmap
    ServerAlias campusmap.*
    WSGIDaemonProcess campusmap-stage processes=2 threads=25 umask=0002 display-name=%{GROUP} home=/tmp
    WSGIProcessGroup  campusmap-stage
    WSGIScriptAlias / /vol/www/research/dev/campusmap/stage/campusmap/wsgi.py
    Alias /static /vol/www/research/dev/campusmap/stage/static
    Alias /media /vol/www/research/dev/campusmap/stage/media
    Alias /favicon.ico /vol/www/research/dev/campusmap/stage/static/img/favicon.ico
    Alias /robots.txt /vol/www/research/dev/campusmap/stage/static/robots.txt
</VirtualHost>

