User svusr327
Group resgrp327
Listen 9000
<VirtualHost *>
    ServerName easyrats
    ServerAlias easyrats.*
    # django
    WSGIDaemonProcess easyrats processes=2 threads=25 umask=0002 display-name=%{GROUP} home=/tmp
    WSGIProcessGroup  easyrats
    WSGIScriptAlias / /vol/www/easyrats/dev/easyrats/wsgi.py

    Alias /static /vol/www/easyrats/dev/static
</VirtualHost>

