User svusr041
Group resgrp041
Listen 9003

<VirtualHost *>
    ServerName oep
    ServerAlias oep.*

    WSGIDaemonProcess oep processes=2 threads=5 umask=0002 display-name=%{GROUP} home=/vol/www/oep/stage
    WSGIProcessGroup  oep
    WSGIScriptAlias / /vol/www/oep/stage/wsgi/wsgi.py

    Alias /media /vol/www/oep/media/stage
    Alias /static /vol/www/oep/static/stage
    Alias /favicon.ico /vol/www/oep/static/stage/favicon.ico
    Alias /robots.txt /vol/www/oep/static/stage/robots.txt
</VirtualHost>
