User svusr041
Group resgrp041
Listen 9003

<VirtualHost *>
    ServerName oep
    ServerAlias oep.*

    ProxyPreserveHost on

    ProxyPassMatch "^/(media|static)/" !
    ProxyPassMatch "^/(favicon.ico|robots.txt)$" !

    ProxyPass / http://localhost:8000/
    ProxyPassReverse / http://localhost:8000/

    Alias /media /vol/www/oep/media/stage
    Alias /static /vol/www/oep/static/stage
    Alias /favicon.ico /vol/www/oep/static/stage/favicon.ico
    Alias /robots.txt /vol/www/oep/static/stage/robots.txt
</VirtualHost>
