User svusr041
Group resgrp041
Listen 9004
<VirtualHost *>
    ServerName oep
    ServerAlias oep.*
    WSGIDaemonProcess oep-stage processes=2 threads=25 umask=0002 display-name=%{GROUP} home=/tmp
    WSGIProcessGroup  oep-stage
    WSGIScriptAlias / /vol/www/oep/stage/oep/wsgi.py
    Alias /static /vol/www/oep/stage/static
    Alias /media /vol/www/oep/stage/media
    Alias /favicon.ico /vol/www/oep/stage/static/img/favicon.ico
    Alias /robots.txt /vol/www/oep/stage/static/robots.txt
</VirtualHost>

