User svusr334
Group resgrp334
Listen 9004

<VirtualHost *>
    ServerName ohp
    ServerAlias ohp.*

    ProxyPreserveHost on

    ProxyPassMatch "^/(media|static)/" !
    ProxyPassMatch "^/(favicon.ico|robots.txt)$" !

    ProxyPass / http://localhost:8001/
    ProxyPassReverse / http://localhost:8001/

    Alias /media /vol/www/ohp/media/stage
    Alias /static /vol/www/ohp/static/stage
    Alias /favicon.ico /vol/www/ohp/static/stage/favicon.ico
    Alias /robots.txt /vol/www/ohp/static/stage/robots.txt
</VirtualHost>
