User svusr388
Group resgrp388
Listen 9005

<VirtualHost *>
    ServerName ohw
    ServerAlias ohw.*

    SSLProxyEngine on

    <Proxy balancer://api>
        BalancerMember https://oep.staging.rc.pdx.edu/api
        BalancerMember https://ohp.staging.rc.pdx.edu/api
    </Proxy>

    ProxyPass /api balancer://api
    ProxyPassReverse /api balancer://api

    DocumentRoot /vol/www/ohw/stage
</VirtualHost>
