User svusr159
Group resgrp159
Listen 9034
<VirtualHost *>
    ServerName quickticket.stage.rc.pdx.edu
    ServerAlias qt.stage.rc.pdx.edu
    WSGIDaemonProcess quickticket processes=2 threads=5 umask=0002 display-name=%{GROUP} home=/vol/www/quickticket/stage
    WSGIProcessGroup  quickticket
    WSGIScriptAlias / /vol/www/quickticket/stage/wsgi/wsgi.py
    Alias /media /vol/www/quickticket/media/stage
    Alias /static /vol/www/quickticket/static/stage
    Alias /favicon.ico /vol/www/quickticket/static/stage/favicon.ico
    Alias /robots.txt /vol/www/quickticket/static/stage/robots.txt
</VirtualHost>
